[package]
name = "api"
version = "0.0.1"
edition = "2021"
description= "api"
license="gnu GPLv3"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = { workspace = true }
tokio = { workspace = true }
reqwest = { workspace = true }
