name: Docker Test & Publish

on:
  push:
    tags:
      - "v*"
  pull_request:
    branches:
      - main
    paths:
      - "Dockerfile"

permissions:
  contents: read
  packages: write

jobs:
  base:
    name: Test base image build
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      # Configure build environment
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Build the image
      - name: Build base image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/opengreenhousemanager/greenhouse_backend/base:latest
          cache-from: type=gha,scope=buildx-base-multi-arch
          cache-to: type=gha,scope=buildx-base-multi-arch,mode=max

  publish:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    name: Publish Docker images
    steps:
      # Configure build environment
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build the image
      - name: Build base image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/opengreenhousemanager/greenhouse_backend/base:latest
          
      # service data_storage
      - name: Docker meta
        id: meta-data_storage
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/opengreenhousemanager/data_storage
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: services/data_storage_service/Dockerfile
          tags: ${{ steps.meta-data_storage.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/opengreenhousemanager/greenhouse_backend/base:latest
          labels: ${{ steps.meta-data_storage.outputs.labels }}

      # service device
      - name: Docker meta
        id: meta-device_service
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/opengreenhousemanager/device_service
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: services/device_service/Dockerfile
          tags: ${{ steps.meta-device_service.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/opengreenhousemanager/greenhouse_backend/base:latest
          labels: ${{ steps.meta-device_service.outputs.labels }}

      # service scripting
      - name: Docker meta
        id: meta-scripting_service
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/opengreenhousemanager/scripting_service
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: services/scripting_service/Dockerfile
          tags: ${{ steps.meta-scripting_service.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/opengreenhousemanager/greenhouse_backend/base:latest
          labels: ${{ steps.meta-scripting_service.outputs.labels }}

      # service web_api
      - name: Docker meta
        id: meta-web_api
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/opengreenhousemanager/web_api
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: api/web/Dockerfile
          tags: ${{ steps.meta-web_api.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/opengreenhousemanager/greenhouse_backend/base:latest
          labels: ${{ steps.meta-web_api.outputs.labels }}

      # service script
      - name: Docker meta
        id: meta-script_api
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/opengreenhousemanager/script_api
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: api/script/Dockerfile
          tags: ${{ steps.meta-script_api.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/opengreenhousemanager/greenhouse_backend/base:latest
          labels: ${{ steps.meta-script_api.outputs.labels }}
          
      # service auth_service
      - name: Docker meta
        id: meta-auth_service
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/opengreenhousemanager/auth_service
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: services/auth_service/Dockerfile
          tags: ${{ steps.meta-auth_service.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/opengreenhousemanager/greenhouse_backend/base:latest
          labels: ${{ steps.meta-auth_service.outputs.labels }}