name: Docker Test & Publish

on:
  push:
    tags:
      - "*"
    branches:
      - GRN-61-build-docker-images-in-pipeline

  pull_request:
    branches:
      - main
    paths:
      - "Dockerfile"

permissions:
  contents: read
  packages: write

jobs:
  base:
    name: Test base image build
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      # Configure build environment
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Build the image
      - name: Build base image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ github.repository_owner }}/base:latest
          cache-from: type=gha,scope=buildx-base-multi-arch
          cache-to: type=gha,scope=buildx-base-multi-arch,mode=max

  publish:
    runs-on: ubuntu-latest
    name: Publish Docker images
    steps:
      # Configure build environment
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build the image
      - name: Build base image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ github.repository_owner }}/base:latest

      # revoltchat/server
      - name: Docker meta
        id: meta-delta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/opengreenhousemanager/greenhouse_backend
      - name: Publish
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: crates/delta/Dockerfile
          tags: ${{ steps.meta-delta.outputs.tags }}
          build-args: |
            BASE_IMAGE=ghcr.io/${{ github.repository_owner }}/base:latest
          labels: ${{ steps.meta-delta.outputs.labels }}
