name: Continuous Integration

on:
  push:
    paths-ignore:
      - "**/README.md"
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  rust-checks-embedded:
    name: Rust Checks
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        action:
          - command: build
            args: --release -p esp_* --target riscv32imc-esp-espidf
          - command: build
            args: --release --workspace --exclude esp_*
          - command: fmt
            args: --all -- --check --color always
          - command: clippy
            args: --all-targets --all-features --workspace --exclude esp_* -- -D warnings
          - command: clippy
            args: --all-features -p esp_* --target riscv32imc-esp-espidf -- -D warnings
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Run command
        run: cargo ${{ matrix.action.command }} ${{ matrix.action.args }}
